asgiref==3.8.1
backports.zoneinfo==0.2.1
colorama==0.4.6
distlib==0.3.9
Django==4.2.19
filelock==3.16.1
phonenumbers==9.0.4
pillow==10.4.0
platformdirs==4.3.6
pygame==2.6.1
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
virtualenv==20.29.1
